{
  "Get-AzContainerGroup+[NoContext]+List+$GET+https://management.azure.com/subscriptions/da28f5e5-aa45-46fe-90c8-053ca49ab4b5/providers/Microsoft.ContainerInstance/containerGroups?api-version=2021-07-01+1": {
    "Request": {
      "Method": "GET",
      "RequestUri": "https://management.azure.com/subscriptions/da28f5e5-aa45-46fe-90c8-053ca49ab4b5/providers/Microsoft.ContainerInstance/containerGroups?api-version=2021-07-01",
      "Content": null,
      "Headers": {
        "x-ms-unique-id": [ "13" ],
        "Authorization": [ "[Filtered]" ]
      },
      "ContentHeaders": {
      }
    },
    "Response": {
      "StatusCode": 200,
      "Headers": {
        "x-ms-original-request-ids": [ "australiaeast:0e5f3f50-0197-4c9c-800e-450d10b0d828", "australiasoutheast:1b0b20e4-90ab-41be-8ac6-c633b7e5673e", "brazilsouth:c44754ad-7f6a-444f-96c2-1e6973437c66", "canadacentral:4323e721-fa64-40ac-9962-f3ccdbcd6134", "canadaeast:126fae47-77fe-407b-bb01-e7ceaccf858b", "centralindia:2c057390-8849-472f-8156-6f20526fc07a", "centralus:076d4eeb-02a7-4222-8d3a-4afa66b710af", "eastasia:3874fcca-89a3-4291-818e-81ff87c0349d", "eastus:882a2570-bb70-4038-85e9-0b3f1d31c71b", "eastus2:6db3f1bd-5051-47bb-[...]
