{
  "Invoke-AzContainerInstanceCommand+[NoContext]+ExecuteExpanded+$POST+https://management.azure.com/subscriptions/da28f5e5-aa45-46fe-90c8-053ca49ab4b5/resourceGroups/test-rghuycf/providers/Microsoft.ContainerInstance/containerGroups/bez-test-cg/containers/bez-test-ci/exec?api-version=2021-07-01+1": {
    "Request": {
      "Method": "POST",
      "RequestUri": "https://management.azure.com/subscriptions/da28f5e5-aa45-46fe-90c8-053ca49ab4b5/resourceGroups/test-rghuycf/providers/Microsoft.ContainerInstance/containerGroups/bez-test-cg/containers/bez-test-ci/exec?api-version=2021-07-01",
      "Content": "{\n  \"terminalSize\": {\n    \"rows\": 12,\n    \"cols\": 12\n  },\n  \"command\": \"echo hello\"\n}",
      "Headers": {
      },
      "ContentHeaders": {
        "Content-Type": [ "application/json" ]
      }
    },
    "Response": {
      "StatusCode": 200,
      "Headers": {
        "x-ms-ratelimit-remaining-subscription-writes": [ "1197" ]
      },
      "ContentHeaders": {
        "Content-Type": [ "application/json; charset=utf-8" ]
      },
      "Content": "{\"webSocketUri\":\"wss://sbz4ujebigtqi0b.eastus.atlas.cloudapp.azure.com:19390/execstream/sessionId/fdf6f46f-f3fb-4460-af81-5f1b9c90acb2?api-version=1.0\u0026rows=12\u0026cols=12\",\"password\":\"9cSrTM\u0026dv\u003e\u0026C{T-w9Dwnfxvyl[[EOM]]\"}",
    }
  }
}